.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#home {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.content {
  margin: 70px 0 70px 0;
}

.nama-depan {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  justify-content: center;
}

.about > p {
  line-height: 2;
}

.profil > p {
  line-height: 2;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(13, 0, 133);
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
}

.btn-gr {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.about-header h1 {
  font-size: 80px;
  background: #008080;
  background: -webkit-linear-gradient(to left, #008080 0%, #ffffff 25%, #05c1ff 50%, #ffffff 75%, #005757 100%);
  background: -moz-linear-gradient(to left, #008080 0%, #ffffff 25%, #05c1ff 50%, #ffffff 75%, #005757 100%);
  background: linear-gradient(to left, #008080 0%, #ffffff 25%, #05c1ff 50%, #ffffff 75%, #005757 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about p {
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portofolio {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(10, 10, 226, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

.port-header h1 {
  font-size: 80px;
  background: #00ff00;
  background: -webkit-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: -moz-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.suggest-header h1 {
  font-size: 80px;
  background: #00ff00;
  background: -webkit-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: -moz-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text {
  min-height: 360px;
}

footer .footer {
  width: 100%;
  height: 300px;
  background: url("footer.svg") no-repeat;
}

.text-footer > h5 {
  position: relative;
  bottom: -230px;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 500;
}
