.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.nama-depan {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  justify-content: center;
}

.about > p {
  line-height: 2;
}

.portofolio {
  margin-top: 50px;
}

.profil > p {
  line-height: 2;
}

.text-footer > h5 {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  color: #fff;
}

footer .footer {
  width: 100%;
  height: 300px;
  background: url("footer.svg") no-repeat;
}
